div
    div.nav-mask
    div.pc-bg
        div.header-top
            div.container
                div.top-left
                    div
                        i.iconfont.icon-zhengfangxing
                        span 国家科技创新类高等职业院校
                    div
                        i.iconfont.icon-zhengfangxing
                        span 大学生创业教育培训基地
                    div
                        i.iconfont.icon-zhengfangxing
                        span 省级徽派园林建筑风情校园
                div.top-right
                    div
                        span 国标代码：13342
        div.logo
            div.container
                a(href='/')
                    img(src='offical/images/logo.png' class='fl')
                img(src='offical/images/logo2.png' class='fr')
        nav.pc-nav
            div.container
                ul.list-unstyled.list-inline.first-nav
                    if header
                        each val,index in header
                            if( index == ind)
                                li.active
                                    a.text-center(href=val.mca) #{val.name}
                                    ul.second-nav.list-unstyled
                                        each val1 in val._data
                                            li
                                                a.text-center(href=val1.mca) #{val1.name}
                            else
                                li
                                    a.text-center(href=val.mca) #{val.name}
                                    ul.second-nav.list-unstyled
                                        each val1 in val._data
                                            li
                                                a.text-center(href=val1.mca) #{val1.name}
    div.m-bg
        div.m-top
            a(href='/')
                img(src='offical/images/m-logo.png')
            img.m-nav-botton(src='offical/images/nav.png' data="close")
        div.m-logo
            img(src='offical/images/m-logo1.png')
        nav.m-nav
            ul
                if header
                    each val,index in header
                        li
                            a(data=val.mca)
                                i.iconfont( class=val.ico)
                                span #{val.name}
                            ul.m-second-nav.list-unstyled
                                each val1 in val._data
                                    li
                                        a(href=val1.mca)
                                            span #{val1.name}
                script.
                    $(function () {
                        $(".m-nav >ul >li").click(function () {
                            var ind = $(this).index();
                            if(ind != 6){
                                var url = $(this).find('a').eq(0).attr('data');
                                $(location).attr('href', url);
                            }else{
                                $(this).find('ul').toggle();
                            }
                        });
                    });